.app {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #122942;
  overflow: hidden;
}

.leftPanel {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  position: relative;
}

.rightPanel {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

@media (max-width: 768px) {
  .app {
    flex-direction: column;
  }

  .leftPanel,
  .rightPanel {
    flex: 1;
    min-height: 50vh;
  }
}
